* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    display: flex;
    border: 1px solid red;
    background-image: linear-gradient(to top left, rgb(99, 211, 255), rgb(100, 204, 251), rgb(100, 197, 246), rgb(101, 190, 242), rgb(102, 183, 238), rgb(102, 176, 233), rgb(103, 168, 229), rgb(103, 161, 224), rgb(104, 154, 220), rgb(105, 147, 216), rgb(105, 140, 211), rgb(106, 133, 207));
}

#logo {
    padding-left: 65px;
    padding-top: 50px;
    height: 90px;
    color: white;
}

.conteiner {
    display: flex;
    border: 1px solid blue;
}

.menu {
    flex: 1;
    background: linear-gradient(to right, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
}

.main {
    flex: 5;
}

.footer {
    flex: 1;
    border: 1px solid green;
    height: 50px;
    padding-top: 20px;
    padding-left: 65px;
    background-image: linear-gradient(to top left, rgb(99, 255, 107), rgb(100, 246, 116), rgb(100, 237, 125), rgb(101, 229, 134), rgb(102, 220, 143), rgb(102, 211, 152), rgb(103, 202, 162), rgb(103, 193, 171), rgb(104, 184, 180), rgb(105, 176, 189), rgb(105, 167, 198), rgb(106, 158, 207));
} 

.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 22px;
    display: block;
    background: linear-gradient(to right, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    width: 200px;
    text-align: center
}

nav a:hover{
    color: #000;
    background: #fff;
}